body{
    padding: 0;
    margin: 0;

    & > *{
        border: 1px solid blue;
    }
}

.select-flight{

    form{
        display: flex;
        flex-direction: column;
    }
}

aside
{
    img{
        width: 360px;
    }
}

#map { 
    height: 356px;
 }