body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100vh;
  background-color: whitesmoke;
  //grid-template-rows: auto 700px auto;
}

header {
  text-align: center;
  background-color: rgb(73, 245, 171);

  h1 {
    margin: 0;
    padding: 10px 0px 10px 0px;
  }
}

.select-flight,
.map {
  grid-row-start: 2;
  grid-column-start: 1;
}

.map {
  height: 400px;
  z-index: 0;
}

.select-flight {
  align-self: end;
  background-color: transparent;
  z-index: 1;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    overflow: hidden;
    padding: 0px;
    width: min(80%, 600px);
    margin: 20px;
    border-radius: 10px;
    box-shadow: -7px -5px 10px -3px rgba(0, 0, 0, 0.2);

    label {
      padding: 5px 0px 0px 5px;
      border-bottom: 1px solid rgb(194, 194, 194);
      color: #858383;
      background-color: white;
    }

    input[type='text'] {
      border: none;

      padding: 5px 0px 5px 5px;
    }

    input[type='text']:focus {
      outline: none;
      border: 2px solid rgb(160, 255, 151);
    }

    input[type='submit'] {
      border: none;
      background-color: transparent;
      background-color: rgb(73, 245, 171);
      padding: 5px 0px 5px 0px;
    }

    input[type='submit']:hover {
      background-color: rgb(8, 107, 64);
      color: white;
    }
  }
}

aside {
  display: flex;

  plane-info {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 10fr;
    grid-template-areas:
      'head head'
      'select .'
      'map aside';
  }

  header {
    grid-area: head;
    text-align: center;
  }

  .select-flight {
    grid-area: select;
    height: auto;
    align-self: center;
    background-color: white;

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 0px;
      height: fit-content;
      margin: 15px auto 15px auto;
      box-shadow: -7px 5px 10px 0px rgba(0, 0, 0, 0.2);

      label {
        border: none;
        border-right: 1px solid rgb(219, 219, 219);
        padding: 5px 10px 5px 10px;
        flex-grow: 0;
      }

      input[type='text'] {
        padding-left: 10px;
        flex-grow: 1;
      }

      input[type='submit'] {
        width: 100px;
        flex-grow: 0;
      }
    }
  }

  .map {
    grid-area: map;
    height: auto;
    width: auto;
  }

  aside {
    grid-area: aside;
    img {
      width: auto;
    }
  }
}
